html {

}

nav {
	transition:all 0.25s ease-in-out;
	border: none !important;
	height:57px;
	
}
nav [aria-expanded="true"] {
	background-color: rgba(220,220,220,1);


}
nav [aria-expanded="false"] {
	background-color: rgba(220,220,220,0);
	transition:all 0.25s ease-in-out;
}

.navbar-collapse {
	transition:all 0.25s ease-in-out;
}
.sticky {
	background-color: rgba(220,220,220,1);
}
.sticky-disabled {
	background-color: rgba(220,220,220,0);
	/*height:72px;*/
}
.sticky-disabled.collapsing{
	background-color: rgba(220,220,220,0);
}
.sticky-disabled.in {
	transition:all 0.5s ease-in-out;
	background-color: rgba(0,0,0,1);
}
.logo {
	transition:all 0.25s linear;
	z-index:1;
}
.sticky .logo {
	height:25px;
}
.sticky-disabled .logo {
	height:50px;
}
nav li {

}
nav li:hover {
	background:rgba(220,220,220,0.2);
}
nav li:active {
	background:rgba(220,220,220,0.5);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:rgba(220,220,220,0.5);
}

.navbar-brand {
	width:100%;
}
.navbar-brand svg{
	display:inline-block;
}

/*key frames  search toggle */
@keyframes appear {
  from {
    width: 0px;
  }
  to {
    opacity: 170px;
  }
}
@keyframes disappear {
  from {
    opacity: 170px;
  }
  to {
    opacity: 0px;
  }
}
.form-control {
	display: inline-block;
}

#search-toggle{
	float:left;
}
#submit-button{
	
}
#search-toggle, #submit-button  {
	font-size:8px;
	border-radius: 16px;
	width:32px;
	height:32px;
	border:1.5px solid rgba(255,255,240,0);
	transition: border 0.25s linear;
	margin:2px;
	
}
#search-toggle:focus, #submit-button:focus {outline:0;}
#search-toggle:hover, #submit-button:hover {
	border:1px solid rgba(255,255,240,0.8);
	background:none;
	
}

#search-toggle span, #submit-button span {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;

}
	
#search-box {
  height:33px;
  width:170px;
  margin:none;

}
#search-box.ng-enter, #search-box.ng-leave {
  transition:0.3s ease-in all;
}

/* starting animations for enter */
#search-box.ng-enter { width: 0px;padding:0px;}
/* terminal animations for enter */ 
#search-box.ng-enter.ng-enter-active { width: 170px; }

/* starting animations for leave */
#search-box.ng-leave { width:170px; }
/* terminal animations for leave */
#search-box.ng-leave.ng-leave-active { width:0px; padding:0px;}


.content-wrap {
	position:absolute;
	background:pink;
	width:100%;
	z-index:-2;
	margin-bottom:136px;

}

.flex-center {	
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;	
}

.flex-row {
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items: baseline;
}
.myFooter {
	position:fixed;
	width:100%;
	bottom:0;
	background:rgba(150,150,150,1);
	padding-top:15px;
}
.myFooter ul {
	list-style:none;
}

.my-row {

}
#row0 {
	position:relative;
	background-image:url('/public/img/heroimg.jpg');
	background-size:cover;
	color : white;
	height:500px;
	z-index:-1;
}
#blackmask {
	position:relative;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.8);
}

#row1 {
	position:relative;
	background-color : white;
	color:black;
	height:1000px;
	z-index:-1;
}

#row2 {
	position:relative;
	background-color: yellow;
	height:500px;
	z-index:-1;
}

#row3 {
	position:relative;
	background-color : black;
	color:white;
	height:1000px;
	z-index:-1;
}
#row4 {
	position:relative;
	background-color : blue;
	color:white;
	height:500px;
	z-index:-1;
}
#row5 {
	position:relative;
	background-color : green;
	color:white;
	height:750px;
	z-index:-1;
}

.up-down {
	position:fixed;
	display:flex;
	flex-direction:column;
	right:50px;
	bottom:195px;
	font-size:36px;
	z-index:1;
}
@media only screen and (max-width: 768px) {
	.up-down {
		bottom:300px;
	}
	.sticky-disabled .logo {
		height:25px;
	}

	.flex-row {
		position:relative;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items: baseline;
	}
}

@media only screen and (min-width:768px) {
	nav [aria-expanded="true"] {
	background-color: rgba(220,220,220,0);
	}
	nav [aria-expanded="false"] {
	background-color: rgba(220,220,220,0);
	}

}


}
.up,.down {
	opacity:0.8;
	transition: 0.25s ease-in-out;
}
.up:hover {
	opacity:1;
}

.down:hover {
	opacity:1;
}

