	<div class="row">
		<div class = "container">
			<div class = "col-xs-6 col-sm-4 text-center">
				<h6>Testamonials</h6>
				<ul>
					<li>blah</li>
					<li>foo</li>
					<li>bar</li>
				</ul>
		</div>
			<div class = "col-xs-6 col-sm-4 text-center">
				<h6>Join Us</h6>
				<ul>
					<li>blah</li>
					<li>foo</li>
					<li>bar</li>
				</ul>
			</div>
			<div class = "col-xs-6 col-sm-4 text-center">
				<h6>Social Media</h6>
				<ul>
					<li>some</li>
					<li>icons</li>
					<li>eventually</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<h6 class="text-center">©Rustcity 2016</h6>
		</div>
	</div>
