<div id="row0" >
	<div id="blackmask">
		<br>
			<div class="flex-center">
				<h4 >splashScroll</h4>
				<h5 >Splash page with Angular directives</h5>
				<h6 >Using $broadcast, $emit, $on to capture scroll events</h6>
				<br>
				<div ><button id="bang" class="btn btn-default" ng-click="bang()">Bang</button></div>
			</div>
		</div>
</div>
<div id="row1" class="my-row">
	<div class="container flex-center" >
		<h1>Row One</h1></div>
</div>
<div id="row2" class="my-row">
	<div class="container flex-center">
		<h1>Row Two</h1></div>

</div>
<div id="row3" class="my-row">
	<div class="container flex-center">
		<h1>Row Three</h1>
	</div>
</div>
<div id="row4" class="my-row">
	<div class="container flex-center">
		<h1>Row Four</h1>
	</div>
</div>
<div id="row5" class="my-row">
	<div class="container flex-center">
		<h1>Row Five</h1>
	</div>
</div>
